"use strict";

module.exports = Object.freeze({
    
    // Skill App ID from the developer portal.
    appId : "",
    
    //  DynamoDB Table name
    dynamoDBTableName : "",

    // database connection info
    mysql_data: Object.freeze({
        username: "",
        password: "",
        host: "127.0.0.1",
        port: 3306,
        database_name: ""
    }),

    universal_analytics_id : ""
});
